<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- #region Google Font Server -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- #endregion Google Font Server -->
    <!-- #region Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- #endregion Google Font Server -->
    <link rel="stylesheet" href="/home.css" />
    <title>Hustle</title>
  </head>

  <body>
    <header id="header">
      <%- include("./home/navbar.ejs", { account }) %>
    </header>

    <main>
      <section id="introduction-section">
        <%- include("./home/introduction.ejs") %>
      </section>

      <section id="features-section">
        <%- include("./home/features.ejs") %>
      </section>

      <section id="templates-section">
        <%- include("./home/templates.ejs", { templates }) %>
      </section>

      <section id="custom-section">
        <%- include("./home/custom.ejs", { custom }) %>
      </section>

      <section id="personal-section">
        <%- include("./home/personal.ejs", { personal }) %>
      </section>

      <% if(account === undefined) { %>
      <section id="account-section">
        <%- include("./home/account.ejs") %>
      </section>

      <section id="inspired-section">
        <%- include("./home/inspired.ejs", { inspired }) %>
      </section>
      <% } %>

      <section id="comments-section">
        <%- include("./home/comments.ejs", { comments }) %>
      </section>
    </main>

    <footer id="footer">
      <%- include("./home/footer.ejs", { footer, account }) %>
    </footer>

    <script type="module" src="/Home.js"></script>
  </body>
</html>
