<% if(progress.length !== 0 || completed.length !== 0) { %>
<form id="settings" action="<%= post %>/clear" method="post">
  <article class="settings-header">
    <h1 class="settings-header-title">My <%= type %> List</h1>
  </article>

  <button class="settings-delete-button" type="submit">
    <img class="settings-delete-button-image" src="/lists/remove.png" />
    <h4 class="settings-delete-button-text">Delete List</h4>
  </button>

  <hr class="settings-divider" />
</form>
<% } %>

<section id="task-list-section">
  <% if(progress.length === 0 && completed.length === 0) { %>
  <h1 class="task-list-section-title">
    ADD YOUR <%= type.toUpperCase() %> TASKS
  </h1>
  <% } %>

  <article class="task-list-container">
    <%- include("./lists/progress.ejs", { progress, post }) %>
  </article>

  <article class="task-list-container">
    <%- include("./lists/completed.ejs", { completed, post }) %>
  </article>
</section>

<form id="controller" action="<%= post %>/progress" method="post">
  <hr class="controller-divider" />

  <div class="controller-inputs-container">
    <input
      class="controller-input"
      placeholder="Title"
      autocomplete="off"
      required="true"
      maxlength="25"
      name="title"
      type="text"
    />

    <input
      placeholder="Description"
      class="controller-input"
      name="description"
      autocomplete="off"
      required="true"
      maxlength="50"
      type="text"
    />
  </div>

  <hr class="controller-divider" />

  <div class="controller-priority-container">
    <div class="controller-radio-block">
      <input
        id="controller-radio-high"
        name="priority"
        value="high"
        type="radio"
        required
      />

      <label for="controller-radio-high">High Priority</label>
    </div>

    <div class="controller-radio-block">
      <input
        id="controller-radio-medium"
        name="priority"
        value="medium"
        type="radio"
        required
      />

      <label for="controller-radio-medium">Medium Priority</label>
    </div>

    <div class="controller-radio-block">
      <input
        id="controller-radio-low"
        name="priority"
        type="radio"
        value="low"
        required
      />

      <label for="controller-radio-low">Low Priority</label>
    </div>
  </div>

  <div class="controller-buttons-container">
    <button
      class="controller-button add"
      name="action"
      type="submit"
      value="add"
    >
      <h4 class="controller-button-text">Add Task</h4>
      <img class="controller-button-image" src="/lists/add.png" />
    </button>

    <button class="controller-button clear" type="reset">
      <h4 class="controller-button-text">Clear Details</h4>
      <img class="controller-button-image" src="/lists/clear.png" />
    </button>
  </div>

  <hr class="controller-divider" />

  <div class="controller-progress-bar-container">
    <div class="controller-progress-bar">
      <div class="controller-progress-bar-fill"></div>
    </div>

    <div class="controller-progress-bar-details">
      <h4 class="controller-progress-bar-text">Empty List</h4>
      <h4 class="controller-progress-bar-percentage">0% Completed</h4>
    </div>
  </div>
</form>
