<% if(progress.length !== 0) { %>
<h1 class="task-list-container-title">PROGRESS</h1>
<% } %>

<article id="task-list">
  <% progress.forEach((task) => { %>
  <form
    class="task progress <%= task.priority %>"
    action="<%= post %>/progress"
    method="post"
  >
    <input type="hidden" name="title" value="<%= task.title %>" />
    <input type="hidden" name="priority" value="<%= task.priority %>" />
    <input type="hidden" name="description" value="<%= task.description %>" />
    <input type="hidden" name="date" value="<%= task.date %>" />

    <article class="task-primary-details">
      <div class="task-header">
        <h2 class="task-title"><%= task.title %></h2>

        <div class="task-controller">
          <button value="delete" class="task-button" name="action">
            <img class="task-button-image" src="/lists/delete.png" />
          </button>

          <button class="task-button" value="completed" name="action">
            <img class="task-button-image" src="/lists/complete.png" />
          </button>
        </div>
      </div>

      <hr class="task-divider" />

      <div class="task-body">
        <h3 class="task-description"><%= task.description %></h3>
      </div>
    </article>

    <article class="task-secondary-details">
      <h3 class="task-date"><%= task.date %></h3>
    </article>
  </form>
  <% }) %>
</article>
